@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@300;400&display=swap");

:root {
  --base: #e4e2df;
  --dark-base: #c8c8c8;
  --accent: #eded7d;
  --text: #ffffff;
  --dark-text: #2a313a;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  cursor: none;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  text-decoration: underline;
  opacity: 0.75;
}

#cursor {
  display: none;
  position: absolute;
  left: -100px;
  top: -100px;
  width: 50px;
  height: 50px;
  z-index: 100;
  filter: drop-shadow(0px 0px 3px var(--dark-text));
}

.main {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  width: 100%;
  padding: 24px;
  background-color: var(--base);
  color: var(--dark-text);
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#title {
  font-family: "DM Serif Display", serif;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
  margin: 24px 0 12px 0;
}

#subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  background-color: var(--accent);
  margin: 0;
  padding: 12px;
  box-shadow: 5px 5px var(--dark-base);
}

#subtitle a {
  color: var(--dark-text);
  text-decoration: none;
  opacity: 1;
  cursor: inherit;
}

#subtitle:hover {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.illustration img {
  width: 80%;
  max-width: 350px;
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

#text {
  text-align: center;
  font-size: 18px;
  line-height: 1.5rem;
  margin: 12px 0;
  padding: 0 12px;
}

#socials {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.social-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: inherit;
}

.social-link:hover {
  opacity: 1;
}

.social-link img {
  width: 17.5vw;
  max-width: 75px;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--dark-base);
  padding: 24px;
}

footer a {
  cursor: inherit;
}

#icons-attrib {
  position: relative;
  text-align: center;
  padding-bottom: 12px;
  margin: 0;
}

#illustration-attrib {
  text-align: center;
  padding-top: 12px;
  margin: 0;
}

#icons-attrib::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  border-bottom: 1px solid var(--dark-text);
}

@media screen and (min-width: 768px) {
  #cursor {
    display: block;
  }
  .illustration img {
    max-width: 400px;
  }
  #title {
    font-size: 70px;
  }
  #subtitle {
    font-size: 30px;
  }
  #text {
    font-size: 22px;
    margin: 18px 0;
  }
}

/* @media screen and (min-width: 1024px) {
  .main {
    padding: 50px;
    flex-flow: column wrap;
    max-height: 100vh;
  }
  .info {
    order: 1;
    align-items: flex-start;
  }
  .illustration {
    flex: 1 1 0px;
    order: 3;
  }
  .illustration img {
  }
  .contact {
    order: 2;
  }
  #title {
    font-size: 96px;
    text-align: left;
  }
  #subtitle {
    font-size: 36px;
  }
  #text {
    font-size: 24px;
    padding: 0;
    text-align: left;
  }
  #socials {
    margin: 0;
    justify-content: space-between;
  }
} */
